/* Container for the image */
.doc-img-con {
    position: relative;
    width: 30vw;
    max-width: 200px;
    height: 30vw;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
  }
  

  .doc-img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

  .doc-img-con:hover .overlay {
    opacity: 1;
  }
  

  .download-icon {
    margin: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .download-icon:hover {
    background: white;
  }
  
  /* Dialog styles */
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .dialog-content {
    position: relative;
    
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 40px;
    background: rgba(116, 88, 238, 0.8);
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    width: 42px;
    height: 42px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background: rgb(0, 0, 0);
    color: white;
  }
  