.section{
    margin-top:2rem;
    width:100vw;
    height: 90vh;
    display:flex;
    overflow: visible;
    
    
}
.sec-con-1{
   width: 20%;
   height: 100%;
}
.sec-con-2{
    width: 70%;
    height: 100%;
    position: relative;
    background:rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    padding-left: 2rem;
    
 }
 .sec-con-2::before, .sec-con::before{
   position: absolute;
   content: "";
   inset:-8px;
   background-color: var(--background-color, rgb(53, 140, 181));
   filter: blur(5px);
  z-index: -1;
   border-radius: 20px;
 }
 .part-section-con{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow: visible;
    


 }
 .sec-con{
    width:35%;
    height: 100%;
    position: relative;
    background-color:black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

 }
 .section-data h1{
    font-size: clamp(1.8rem, 2vw, 3rem);

 }
 .section-data h2{
    font-size: clamp(1.3rem, 1.5vw, 2rem);

 }
 .section-data h4{
    font-size:  clamp(1.1rem, 1.2vw, 1.4rem);

 }
 .section-data p{
    font-size: clamp(1.2rem, 1.4vw, 1.5rem);

 }
 .data-left{
    width: 100%;
    height: 100%;
    background:linear-gradient(124deg, rgba(36, 80, 85, 0.20) 16.17%, rgba(36, 80, 85, 0.00) 74.83%)
 }
 .data-right{
    width: 100%;
    height: 100%;
    background:linear-gradient(124deg, rgba(68, 139, 238, 0.14) 16.17%, rgba(47, 126, 236, 0.00) 74.83%);
 }
 .section-info{
    color:aliceblue;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* background: var(--backgroundColorInfo, linear-gradient(180deg,#07060B 50%,#0A090E 100%)); */
    
 }
 .section-data{
width: 100%;
height: 100%;
overflow: hidden; 
 }
 .second-part,.first-part{
    width: 100%;
    margin-bottom: 3rem;
 }
 .doc-img{
    display: flex;
    flex-direction: row;
    gap:1rem;
    
 }
 .first-part h2{
    white-space: pre;

 }
 .title-data{
    display: flex;
    flex-wrap: wrap;
    column-gap:2rem;
 }

