
.welcome hgroup{
    margin: 0 auto;
    color:rgba(255, 255, 255, 0.956);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem ;
    
}
.welcome p{
    font-weight: bold;
    font-size: clamp(3rem, 6vw, 10rem); 
    background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent */
    display: inline-block; 
    margin: -10px 0 0 -10px;
}
.welcome h2{
    font-size: clamp(1.7rem, 1rem, 3rem); 

}
.welcome h1{
    font-size: clamp(2rem, 1rem, 3.4rem); 

}
.welcome h3{
    font-size: clamp(1rem, 1rem, 2rem); 

}
.wel-con{
    margin-top: 0rem;
height: fit-content;
min-height: 70vh;
display: flex;
flex-direction: row;
}
.img-con{
    z-index: 16;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 50px;
    margin-right: 3rem;
    margin-top: 5rem;

   
}
.fancy-inner-element{
    position: absolute;
    inset:-4px;
    border-radius: 50px;
    z-index: -1;
    background-color: white;
    filter: blur(5px);
    overflow: hidden;
}

.fancy-inner-element::before{
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: 50px;
    animation: rotate 5s ease-in infinite;
    z-index: -1;
    background: conic-gradient(
      from 0deg,
      transparent 60%,
     #17bde2 100%
    );
}
@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  .overflow{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.img-con img{
    width: 100%;
    height: auto;
    object-fit:contain;
    border-radius: 50px;

}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:3rem;
    width: 80%;
}
.grain-noice{
  opacity: .2;
  background-position: 0 0;
  background-size: auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  inset: 0%;

    }
.Bar  {
    display: flex;
    justify-content: center;
    align-items: center;

}
.Bar svg{
    width: 80vw; 
    height: 5vh;
}

@media screen and (max-width:600px) {
     .wel-con{
        margin-top: -3rem;
     }
    .welcome{
        gap: 1.5rem;
    }
    .welcome hgroup{
        margin-left: 3rem ;
    }
    .img-con{
        display:none;
    }
  
    
}
.cv-doc {
    display: flex;
    column-gap: 3rem;
    z-index: 2;
    margin-left: 5rem ;
    margin-bottom: 1rem;
}

.cv, .doc {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #000000;
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.cv::before, .doc::before {
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 200% 200%; 
    z-index: -1;  
    border-radius: 10px;
    transition: all 0.4s ease;
}

.cv:hover::before, .doc:hover::before {
    animation: shine 2s infinite; 
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
