:root{
  --black: #000000;
  --ash-black: #222;
  --white: #ffffff;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --background:var(--black);
}

html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden; 
  height: 100%; 
}
body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: visible;
  background-color: var(--black);
}