:root{
  --black: #000000;
  --ash-black: #222;
  --white: #ffffff;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --background:var(--black);
}

html, body {
  margin: 0;
  padding: 0; 
  height: 100%;

}
a{
  z-index: 11;
}
svg{
  z-index: 11;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: "Poppins";
  overflow-y: visible;
  background-color: var(--black);
  /* filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210)); */
  /* radial-gradient(125% 125% at 50% 10%, black 50%, rgb(26, 15, 26) 100%) */
}


::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--white);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--purple);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-button{
  background-color: #fd7702;
}
